*   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --primary: #003554;
        --secondary: #e9ecef
    }

    .background {
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 550px;
        height: 100vh;
        min-height: 440px;
    }

    .container {
        background-color: var(--secondary);
        width: 500px;
        height: 400px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family:'Courier New', Courier, monospace;
        box-shadow: 2px 8px 8px black;
    }

    .container > h3 {
        margin: 36px;
        font-size: 32px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .container > p {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .container > input {
        width: 80%;
        border: 2px solid var(--primary);
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
        font-size: 18px;
    }

    .container > button {
        width: 80%;
        background-color: var(--primary);
        color: var(--secondary);
        outline: none;
        cursor: pointer;
        padding: 8px;
        margin-bottom: 36px;
        border-radius: 4px;
        font-size: 18px;
    }

    .container > button:hover {
        font-weight: bold;
    }

    .container > span {
        font-weight: bold;
        font-size: 18px;
    }